.modal{
  background: #00000042;
}

.dialog-ModalSkills,
.content-ModalSkills{
  max-width: 800px !important;
  height: auto;
}

.content-ModalSkills{

  padding: 12px 16px 16px;
  
  .header{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    section{
      flex: 1;

      display: flex;
      align-items: center;
      gap: 12px;

      img{
        width: 48px;
        height: auto;
      }

      h1{
        font-family: var(--font);
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
      }
      .ex-anos{
        border-radius: 12px;
        background: rgb(205, 205, 248) ;
        padding: 1px 8px;
        font-size: 0.7rem;
        font-family: var(--font);
        font-weight: 700;
        margin-bottom: 16px;
      }
    }
  }

  main{

    .progress{
      margin: 0 0 24px 0;
    }

    p{
      font-family: var(--font);
      font-size: 1rem;
      font-weight: 500;
      margin: 0;

      text-indent: 20px;
    }

  }
}